[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
et-xmlfile = "*"
bln = "==2.3.12"
warn-scraper = "==1.2.126"
warn-transformer = "==1.3.308"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.14"
