[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
warn-scraper = "==1.2.*"
warn-transformer = "==1.2.2"
bln = ">=2.0.1"

[dev-packages]
"keyrings.google-artifactregistry-auth" = "*"

[requires]
python_version = "3.9"
