[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
warn-scraper = "==1.2.20"
warn-transformer = "==1.3.*"
bln = ">=2.3.0"

[dev-packages]

[requires]
python_version = "3.9"
