name: Reinitialize integrated file

on:
  workflow_dispatch:

jobs:
  integrate:
    name: Integrate
    runs-on: ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Install
        uses: ./.github/actions/install

      - id: checkout
        name: Checkout branch
        run: |
            git config --global user.email "actions@github.com"
            git config --global user.name "GitHub Actions"
            git config pull.rebase false
            git checkout transformer
            git pull origin main
        shell: bash

      - name: Download files
        run: pipenv run warn-transformer download -l DEBUG
        env:
            BLN_API_TOKEN: ${{ secrets.BLN_API_TOKEN }}
            WARN_TRANSFORMER_OUTPUT_DIR: ./data/warn-transformer/
        shell: bash

      - name: Consolidate files
        run: pipenv run warn-transformer consolidate -l DEBUG
        env:
            WARN_TRANSFORMER_OUTPUT_DIR: ./data/warn-transformer/
        shell: bash

      - name: Integrate files with --init flag
        run: pipenv run warn-transformer integrate -l DEBUG --init
        env:
            WARN_TRANSFORMER_OUTPUT_DIR: ./data/warn-transformer/
        shell: bash

      - name: Commit and push
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: Update transformer
          branch: transformer
          skip_checkout: true
          push_options: '--force'
          file_pattern: ./data/warn-transformer/*

      - name: Upload file to biglocalnews.org
        uses: biglocalnews/upload-files@v2
        with:
          api-key: ${{ secrets.BLN_API_TOKEN }}
          project-id: ${{ secrets.BLN_PROJECT_ID }}
          path: ./data/warn-transformer/processed/integrated.csv
